<form asp-action="Index">
    <label>Nhập cân nặng(kg) :</label>
    <input type=" number" name="weight">
    <label>Nhập chiều cao(kg) : </label>
    <input type=" number" name="Height">

    <input type=" submit" value="kết quả BMI">
</form>